@use '../abstracts/mixins/appearance';
@use '../abstracts/mixins/typography';
@use '../abstracts/functions';

@mixin btn-css-var($background, $border, $color) {
  --button-background-color: #{$background};
  --button-border-color: #{$border};
  --button-color: #{$color};
}

.epo-btn {
  @include appearance.proto-button;

  border: 1px solid var(--button-border-color);
  border-radius: 6px;
  background-color: var(--button-background-color);
  padding: 15px 32px;
  color: var(--button-color) !important;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  align-items: center;
  @include typography.type-scale(20px, 16px);
  text-align: center;

  &.focus-visible:not(:disabled) {
    outline: 3px solid functions.palette(black);
    outline-offset: 1px;
    border-color: functions.palette(black);
  }

  &:hover {
    outline: 3px solid var(--button-border-color);
    outline-offset: 1px;
  }

  &:disabled,
  &[aria-disabled='true'] {
    background-color: functions.palette(neutral40);
    border-color: functions.palette(neutral40);
    pointer-events: none;

    &.focus-visible,
    &:hover {
      outline: 0;
    }
  }

  &.btn-primary {
    @include btn-css-var(
      functions.palette(turquoise85),
      functions.palette(turquoise85),
      functions.palette(white)
    );
  }

  &.btn-secondary {
    @include btn-css-var(
      functions.palette(red),
      functions.palette(red),
      functions.palette(white)
    );
  }
}
