@use "../functions";
@use "../variables";
@use "sass:color";

// Appearance mixins
// --------------------
// These should be limited to appearance-related properties only.

@mixin focus-default-style {
  outline: auto 4px;
}

@mixin focus-default {
  .js-focus-visible &:focus:not(.focus-visible) {
    outline-width: 0;
  }

  &.focus-visible {
    @include focus-default-style;
  }
}

// Icons
// --------------------------------------------------------
@mixin proto-icon {
  display: inline;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentcolor;
}

// Links, Buttons
// --------------------------------------------------------
@mixin proto-button {
  @include focus-default;

  display: inline-block;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: 0;
  appearance: none;
}

// Hidden elements for screen readers
// --------------------------------------------------------
@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

// Inputs
// --------------------------------------------------------
@mixin input-unstyled {
  @include focus-default;

  display: inline-block;
  font-size: inherit;
  color: inherit;
  background: transparent;
  border: 0;
}
