@use "../functions";
@use "./base";
@use "../variables";

// Typography mixins
// -----------------------------------
// These should be limited to `font` and other typographic properties only.
@mixin type-scale($desktop-size, $mobile-size) {
  @include base.fluid-scale(
    font-size,
    $desktop-size,
    $mobile-size,
    functions.break(tablet),
    functions.break(mobile)
  );
}

// Headings
// --------------------------------------------------------
@mixin heading-primary {
  @include type-scale(40px, 24px);

  font-weight: functions.font-weight(extra-bold);
  line-height: 1.15;
}

@mixin heading-secondary {
  @include type-scale(30px, 20px);

  font-weight: functions.font-weight(bold);
  line-height: 1.2;
}

@mixin heading-tertiary {
  @include type-scale(24px, 18px);

  font-weight: functions.font-weight(extra-bold);
  line-height: 1.417;
}

@mixin heading-quaternary {
  @include type-scale(18px, 16px);

  font-weight: functions.font-weight(bold);
}

// Lists
// --------------------------------------------------------
@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
