.container {
  position: relative;
  height: $tallestSquareWidget;
  min-height: $break40;
  background-color: $black;
  color-adjust: exact;
}

.orbital-canvas {
  position: relative;
  z-index: 1;
}

$offset: 300px;

.playback-speed-slider-header {
  position: absolute;
  top: 34px;
  right: 10px;
  z-index: 2;
  width: 110px;
  padding: 5px;
  text-align: center;
  background-color: transparentize($white, 0.2);
  border: 1px solid $black;
  border-radius: 10px;
}

.playback-speed-title {
  @include subheadingPrimary;
  margin: 0;
}

.playback-speed-slider-label {
  @include labelSecondary;
  font-size: 12.5px;
}

.playback-speed-slider-label-bottom,
.playback-speed-slider-label-top {
  @include labelSecondary;
  position: absolute;
  right: $minPadding / 2;
  z-index: 2;
  width: 70px;
  padding: 5px;
  color: $white;
  text-align: center;
  background-color: transparentize($basePrimary, 0.2);
  border: 1px solid $black;
  border-radius: 10px;
}

.playback-speed-slider-label-bottom {
  top: calc(40px + (#{$minPadding} + #{$tallestSquareWidget} - #{$offset}));
}

.playback-speed-slider-label-top {
  top: 80px + $minPadding;
}

.playback-speed-slider {
  position: absolute;
  top: calc(80px + (#{$minPadding} + #{$tallestSquareWidget} - #{$offset}) / 2);
  right: $minPadding + 75px;
  width: calc(#{$tallestSquareWidget} - #{$offset});
  margin-right: calc(-1 * (#{$tallestSquareWidget} - #{$offset}) / 2);
}

.elapsed-time-container {
  @include labelSecondary;
  position: absolute;
  right: 10px;
  bottom: 100px;
  z-index: 2;
  color: $black;
  text-align: center;
  background-color: transparentize($white, 0.2);
  border: 1px solid $black;
  border-radius: 10px;

  .elapsed-time-title {
    @include labelSecondary;
    padding-top: 5px;
  }

  .elapsed-time-inner {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    border-top: 1px solid $black;

    .elapsed-time-divider {
      display: block;
      width: 1px;
      height: 50px;
      background-color: $black;
    }

    .elapsed-time-block {
      width: 50px;

      .elapsed-val {
        @include subheadingPrimary;
        color: $black;
      }

      .elapsed-label {
        @include labelSecondary;
        color: $black;
      }
    }
  }
}

.padded-drawer-inner {
  width: ($containerMaxWidth - $minPadding) / 2;
  padding: 0 0 0 72px;
  outline: none;

  @include respond($containerMaxWidth) {
    width: calc((100vw - #{$minPadding} * 2) / 2);
  }
}

//  Nav Drawer
.nav-item {
  :global {
    .md-list-tile {
      background-color: $neutral10;
      transition: background-color $timing $duration;

      .md-tile-addon {
        color: $basePrimary;
        transition: color $timing $duration;
      }

      &:hover {
        background-color: $basePrimary;

        .md-tile-addon {
          color: $white;
        }

        .md-tile-text--primary,
        .md-tile-text--primary.md-text--theme-primary,
        .md-text {
          color: $white;
        }
      }
    }
  }

  &.active-item {
    :global {
      .md-list-tile {
        background-color: $basePrimary;

        .md-tile-addon {
          color: $white;
        }

        .md-tile-text--primary,
        .md-tile-text--primary.md-text--theme-primary,
        .md-text {
          /* stylelint-disable-next-line declaration-no-important */
          color: $white !important;
        }
      }
    }
  }
}

.label {
  padding: 2px 4px;
  margin-top: 4px;
  font-weight: $medium;
  color: $black;
  background-color: rgba($white, 0.4);
  border: 1px solid rgba($white, 0.4);
  border-radius: 5px;
  color-adjust: exact;
}

.obs-mesh {
  cursor: pointer;
}

.obs-label {
  padding-top: -8px;
  font-size: 16px;
  color: $white;
  cursor: pointer;

  &.obs-answer,
  &.obs-hover {
    font-size: 18px;
    color: 'blue';
  }

  &.obs-active {
    font-size: 18px;
    color: 'red';
  }
}

.details {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  max-width: 0;
  overflow: hidden;
  transition: max-width $timing $durationSlow;

  .details-table {
    margin-top: $minPadding * 2 + 36px;
    background-color: $white;

    :global {
      .md-text {
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  &.active-details {
    width: 100%;
    max-width: 350px;

    .details-table {
      :global {
        .md-text {
          overflow: auto;
          white-space: normal;
        }
      }
    }
  }
}

.details-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  margin: $minPadding;
  /* stylelint-disable-next-line declaration-no-important */
  color: $white !important;
  background-color: $error;

  &:disabled {
    background-color: $neutral20;
  }
}
