html {
  font-size: var(--size-font-16-20);
}

body {
  color: var(--color-font-primary);
  font-family: var(--font-stack-base);
  line-height: var(--size-leading-base);
}

a {
  color: inherit;

  &.js-focus-visible &:focus:not(.focus-visible) {
    outline-width: 0;
  }

  &.focus-visible:not(:disabled),
  &:focus-visible:not(:disabled) {
    outline: auto 4px;
  }
}

/* proto button */
button {
  display: inline-block;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: 0;
  appearance: none;

  &.js-focus-visible &:focus:not(.focus-visible) {
    outline-width: 0;
  }

  &.focus-visible:not(:disabled),
  &:focus-visible:not(:disabled) {
    outline: auto 4px;
  }
}

svg {
  fill: currentcolor;
}
