h1,
h2,
h3,
h4 {
  font-weight: var(--weight-font-black);
  line-height: var(--size-leading-header-base);
}

h1 {
  @utopia clamps({
    pairs: [
      [64, 144]
    ],
    prefix: "size-margin-start",
    relativeTo: "viewport-width",
  });
  @utopia clamps({
    pairs: [
      [8, 0]
    ],
    prefix: "size-margin-end",
    relativeTo: "viewport-width",
  });

  font-size: var(--size-font-24-40);
  margin-block-start: var(--size-margin-start-64-144);
  margin-block-end: var(--size-margin-end-8-0);
}

h2 {
  @utopia clamps({
    pairs: [
      [32, 40]
    ],
    prefix: "size-margin-start",
    relativeTo: "viewport-width",
  });
  @utopia clamps({
    pairs: [
      [8, 20]
    ],
    prefix: "size-margin-end",
    relativeTo: "viewport-width",
  });

  font-size: var(--size-font-20-30);
  margin-block-start: var(--size-margin-start-32-40);
  margin-block-end: var(--size-margin-end-8-20);
}

h3 {
  @utopia clamps({
    pairs: [
      [32,20]
    ],
    prefix: "size-margin-start",
    relativeTo: "viewport-width",
  });
  @utopia clamps({
    pairs: [
      [8, 20]
    ],
    prefix: "size-margin-end",
    relativeTo: "viewport-width",
  });

  font-size: var(--size-font-18-24);
  margin-block-start: var(--size-margin-start-32-20);
  margin-block-end: var(--size-margin-end-8-20);
}

h4 {
  @utopia clamps({
    pairs: [
      [32,40]
    ],
    prefix: "size-margin-start",
    relativeTo: "viewport-width",
  });
  @utopia clamps({
    pairs: [
      [8, 10]
    ],
    prefix: "size-margin-end",
    relativeTo: "viewport-width",
  });

  font-size: var(--size-font-16-18);
  margin-block-start: var(--size-margin-start-32-40);
  margin-block-end: var(--size-margin-end-8-10);
}

p,
ul:not([class]),
ol:not([class]) {
  @utopia clamps({
    pairs: [
      [8, 10]
    ],
    prefix: "size-margin-end",
    relativeTo: "viewport-width",
  });

  margin-block: var(--size-margin-end-8-10);
}

ul:not([class]),
ol:not([class]) {
  @utopia clamps({
    pairs: [
      [20, 33]
    ],
    prefix: "size-padding",
    relativeTo: "viewport-width",
  });

  padding-inline-start: var(--size-padding-20-33);
}

a {
  color: var(--color-font-accent);
}

@media screen and (min-width: 1240px) {
  :root{
    --size-leading-base: 1.5;
  }

  h1 {
    line-height: 1.5833;
  }
}