@import "@rubin-epo/epo-style-dictionary/legacy/palette.css";
@import "@rubin-epo/epo-style-dictionary/legacy/tokens.css";
@import "@rubin-epo/epo-style-dictionary/rubin.css";

:root {
  @utopia clamps({
    pairs: [
      [14, 14]
    ],
    prefix: "size-font",
    relativeTo: "viewport-width",
  });

  @utopia clamps({
    pairs: [
      [16, 20]
    ],
    prefix: "size-font",
    relativeTo: "viewport-width",
  });

  @utopia clamps({
    pairs: [
      [24, 40]
    ],
    prefix: "size-font",
    relativeTo: "viewport-width",
  });

  @utopia clamps({
    pairs: [
      [20, 30]
    ],
    prefix: "size-font",
    relativeTo: "viewport-width",
  });

  @utopia clamps({
    pairs: [
      [18, 24]
    ],
    prefix: "size-font",
    relativeTo: "viewport-width",
  });

  @utopia clamps({
    pairs: [
      [16, 18]
    ],
    prefix: "size-font",
    relativeTo: "viewport-width",
  });

  /* @link https://utopia.fyi/space/calculator?c=280,16,1.2,1280,22,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,s-l&g=s,l,xl,12 */
  @utopia spaceScale({
    minSize: 16,
    maxSize: 20,
    positiveSteps: [1.5, 2, 3, 4, 6, 8],
    negativeSteps: [0.75, 0.5, 0.25],
    customSizes: ["s-l"],
    prefix: "size-spacing",
    relativeTo: "viewport-width",
  });


}

