@use "functions";

// @font-face-specific mixins
// -----
@mixin embedFont(
  $font-name,
  $font-filepath-and-name,
  $font-weight,
  $font-style
) {
  @font-face {
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;
    src:
      url("../../fonts/#{$font-filepath-and-name}.woff2") format("woff2"),
      url("../../fonts/#{$font-filepath-and-name}.woff") format("woff");
  }
}

// @font-face declarations
// --------------------------
// Do your @font-face embedding here, in the privacy of your own partial
// `embedFont` must be used once per combination of weight and style
// TODO: Check which charsets are needed (default is latin)
@include embedFont(
  "Source Sans Pro",
  "source-sans-pro-v18-latin-regular",
  functions.font-weight(regular),
  normal
);
@include embedFont(
  "Source Sans Pro",
  "source-sans-pro-v18-latin-italic",
  functions.font-weight(regular),
  italic
);
@include embedFont(
  "Source Sans Pro",
  "source-sans-pro-v18-latin-700",
  functions.font-weight(bold),
  normal
);
@include embedFont(
  "Source Sans Pro",
  "source-sans-pro-v18-latin-700italic",
  functions.font-weight(bold),
  italic
);
@include embedFont(
  "Source Sans Pro",
  "source-sans-pro-v18-latin-900",
  functions.font-weight(extra-bold),
  normal
);
@include embedFont(
  "Source Sans Pro",
  "source-sans-pro-v18-latin-900italic",
  functions.font-weight(extra-bold),
  italic
);
