@use "sass:color";
@use "sass:map";

// Variables
// ----------

// Colors
// Primary color variables are defined in `theme/tokens.json`.
// Some colors in the comps use InDesign's 'tint' feature, which lightens colors
// without adjusting their opacity. To simulate those, we use Sass's `adjust`
// functions, so those are defined here instead.
// --------------------------------------------------------
$sass-palette: (
  neutral80: color.adjust(#000, $lightness: 20%),
  neutral60: color.adjust(#000, $lightness: 40%),
  neutral08: color.adjust(#000, $lightness: 92%),
  neutral02: color.adjust(#000, $lightness: 98%),
);

// Responsive breakpoints
// --------------------------------------------------------
$breakpoints: (
  desktop: 1280px,
  tablet: 850px,
  mobile: 446px,
);

// Measurements
// --------------------------------------------------------
$container-widths: (
  max: 2560px,
  full: 1920px,
  wide: 1435px,
  regular: 1160px,
  narrow: 900px,
);
$padding-sizes: (
  large: 100px,
  medium: 40px,
  small: 20px,
);
$z-stack: (
  header: 25,
);

// Typography
// --------------------------------------------------------
$font-size-base-desktop: 22px;
$font-size-base-mobile: 16px;
$line-height-base: 1.636;
$font-stack-base: "Source Sans Pro", system-ui;
$font-weights: (
  regular: 400,
  bold: 700,
  extra-bold: 800,
);

// Appearance
// --------------------------------------------------------

// Cross-component variables
// --------------------------------------------------------
$header: (
  height-tablet: 110px,
  height-mobile: 60px,
  gap: 0,
  layout-breakpoint: 1625px,
  breakpoint-for-search-bar: 850px,
  nav-link-padding-lateral: 0.8em,
  nav-width-desktop: 300px,
  nav-width-mobile: 225px,
  button-width-tablet: 114px,
  button-width-mobile: 60px,
);
$cta: (
  breakpoint: 600px,
);
$grid: (
  breakpoint: 600px,
);
